.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  color: #b3b3b3;
  padding: 10px 0;
}

.marquee-text {
  display: inline-block;
  animation: scroll-left 9s linear infinite;
  //   text-transform: uppercase;
  font-size: 7rem;
  line-height: 1.1;

  span {
    width: 50%;
    display: inline-block;
    padding-right: 20px;
  }
}

// .marquee-text:hover {
//   animation-play-state: paused;
// }

@keyframes scroll-left {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

@media (max-width: 992px) {
  .marquee-text {
    font-size: 5rem;
  }
}

@media (max-width: 576px) {
  .marquee-text {
    font-size: 3rem;
  }
}
