.aside-card-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
  flex-wrap: wrap;

  a {
    cursor: pointer;
    display: block;
    padding-bottom: 0.5rem;
    width: 10rem;
    border: none;
    font-size: large;

    &:hover,
    &:focus,
    &:active {
      border-bottom: 2px solid var(--green);
    }
  }
}

.active {
  border-bottom: 2px solid var(--green);
}

@media (max-width: 768px) {
  .aside-card-flex {
    flex-direction: row;
    gap: 1rem;

    a {
      display: inline;
      font-size: 1.2rem;
    }
  }
}
