:host {
  width: 173px;
  height: 50px;
  border-radius: 6px;
  background-color: #2b2829;
  color: #ffffff;
  text-transform: uppercase;
  text-align: start;
  padding: 0 20px;
  margin: 20px 0;
}

i {
  margin-left: 40px;
}
