:host {
  height: 50px;
  border-radius: 6px;
  background-color: #2b2829;
  color: #ffffff;
  text-transform: uppercase;
  text-align: start;
  // padding: 0 20px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

// i {
//   margin-left: 40px;
// }
