:host {
  height: 50px;
  border-radius: 6px;
  background-color: #2b2829;
  color: #ffffff;
  text-transform: uppercase;
  text-align: start;
  font-weight: 400;

  // padding: 0 20px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
}

// i {
//   margin-left: 40px;
// }

@media (max-width: 768px) {
  :host {
    height: 45px;
  }
}
