h2 {
  // margin: 2rem 0 1rem;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

p {
  padding: 0 2rem 1rem;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

img {
  width: 645px;
}

span {
  display: block;
  margin-bottom: 10px;
}

span.text {
  font-size: small;
}

.btn {
  margin: 20px 0;
}
