.header-container {
  height: 20vh;
  background-color: var(--dark-primary-color);
}

.header-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-container h1 {
  padding: 20px;
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--light-primary-color);
}
