a {
  text-decoration: none;
  color: #2b2829;
}

.header-container {
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  color: #2b2829;

  i {
    font-weight: var(--fa-style, 300);
  }
}

.flex-row,
.menu {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}

.flex-item-left {
  flex: 1;
  display: flex;
  justify-content: start;
  gap: 5rem;
}

.flex-item-right {
  flex: 1;
  display: flex;
  justify-content: end;
  gap: 2rem;
  align-items: center;
}

.location {
  min-width: 5rem;
}

.language {
  min-width: 4rem;
}

.mobile {
  display: none;
}

i {
  font-size: medium;
}

img {
  width: 7rem;
}

@media (max-width: 576px) {
  .header-container {
    padding: 2rem;
  }

  // .flex-row,
  .about,
  .location,
  .laptop {
    display: none;
  }

  .mobile {
    display: contents;
  }

  img {
    width: 6rem;
  }
}
