// .container {
//   width: 100vw;
//   padding: 1.5rem;
// }

.card-flex {
  // width: 100%;
  // padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.flex {
  width: 100vw;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  // align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}

// .aside-container {
// }

.card {
  width: calc(calc(100vw - 6rem) / 3);
  min-width: 200px;
  height: 8rem;
  background-color: var(--light-primary-color);
  padding: 1.5rem;
  align-content: center;
  border-radius: 10px;
  color: var(--light-primary-color);
  background: var(--light-primary-color) url(/IMG_1444.JPG) center/cover no-repeat;
  box-shadow: 0 2px 4px var(--dark-primary-color);
}

.card h3 {
  margin-bottom: 10px;
  font-size: 2rem;
}

.card button {
  background-color: var(--green);
  color: var(--light-primary-color);
  padding: 5px 15px;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 2px var(--dark-primary-color);
  opacity: 1;
}

.card button:hover {
  // background-color: var(--dark-primary-color);
  opacity: 0.9;
}

.aside-card-flex {
  // width: calc(calc(100% - 7.5rem) * 0.13);
  // flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;

  a {
    display: block;
    // background-color: var(--light-primary-color);
    // border-radius: 5px;
    padding: 0.5rem;
    width: 10rem;
    font-size: 1.4rem;

    &:hover,
    &:focus,
    &:active {
      border-bottom: 2px solid var(--green);
    }
  }
}
.active {
  border-bottom: 2px solid var(--green);
}

.section-card-flex {
  // flex: 2;
  width: calc(calc(100% - 7.5rem) * 0.87);
  // padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  // align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

@media (max-width: 992px) {
  .flex {
    gap: 1.5rem;
  }

  .card {
    width: calc(calc(100vw - 4.5rem) / 2);
    min-width: 10rem;
    padding: 1.5rem;
  }

  .card h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  // .container {
  //   padding: 0.8rem;
  // }

  .card-flex {
    justify-content: center;
  }

  .flex {
    flex-direction: column;
  }

  .card {
    width: 90vw;
    min-width: 150px;
    height: 6rem;
    padding: 0.5rem;
    text-align: center;
  }

  .card button {
    font-size: 0.7rem;
  }

  .aside-card-flex {
    flex-direction: row;
    gap: 1rem;

    a {
      display: inline;
      font-size: 1.2rem;
    }
  }

  .section-card-flex {
    width: 100%;
    gap: 1rem;
  }
}
