<div>
  @if (!selectedCategoryId) {
    <h2>Jewelry Catalog</h2>
    <ul id="categories" class="container card-flex">
      @for (category of categories; track category.id) {
        <li>
          <div class="card">
            <h3 for="card">{{ category.name }}</h3>
            <button id="card" class="btn-menu" (click)="onSelectCategory(category.id)">
              See more
            </button>
          </div>
        </li>
      }
    </ul>
    <h2>Jewelry Gallery</h2>
    <section class="container card-flex">
      <app-products />
    </section>
  }
</div>
<div>
  @if (selectedCategoryId) {
    <h2>Jewelry - {{ selectedCategory()?.name }}</h2>
    <div class="flex">
      <app-menu-side>
        <ul id="categories" class="aside-card-flex">
          @for (category of categories; track category.id) {
            <li>
              <a
                class="btn-menu"
                [class.active]="category.id === selectedCategory()?.id"
                (click)="onSelectCategory(category.id)"
                >{{ category.name }}</a
              >
            </li>
          }
        </ul>
      </app-menu-side>
      <section class="section-card-flex">
        <app-products />
      </section>
    </div>
  }
</div>
