@if (!categoriesService.getSelectedCategory()()) {
  <ul id="products" class="card-flex">
    @for (product of allProducts; track product.id) {
      <li>
        <app-product-card-template [product]="product" />
      </li>
    } @empty {
      <p>New items coming soon 🫶</p>
    }
  </ul>
} @else {
  <ul id="products" class="card-flex">
    @for (product of selectedCategoryProducts; track product.id) {
      <li>
        <app-product-card-template [product]="product" />
      </li>
    } @empty {
      <p>New items coming soon 🫶</p>
    }
  </ul>
}
