.container {
  width: 100%;
  // padding: 1rem;
}

.card-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

// @media (max-width: 992px) {
//   .container {
//     // padding: 1.5rem;
//   }
// }

@media (max-width: 768px) {
  .container {
    padding: 1.5rem;
  }

  //   .card-flex {
  //     justify-content: center;
  //   }
}
