img {
  width: 100%;
}

ul {
  list-style: none;
}

.footer-container {
  padding: 1rem 2rem;
  // position: absolute;
  // bottom: 0;
  width: 100vw;
  height: 20vh;
  max-height: 10rem;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;

  img {
    width: 4rem;
  }

  h4 {
    margin-bottom: 0.5rem;
  }

  li {
    font-size: small;
  }

  i {
    color: var(--dark-primary-color);
  }
}

@media (max-width: 576px) {
  .footer-flex {
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 10px;

    .social {
      min-width: 30%;
    }

    img {
      width: 4rem;
    }

    i {
      font-size: medium;
    }
  }
}
