ul {
  list-style: none;
}

h2 {
  // text-align: center;
  padding: 0 2rem;
  font-size: 2rem;
  margin: 1rem 0;
}

.container {
  width: 100vw;
  padding: 1.5rem;
}

.card-flex {
  // width: 100%;
  // padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.flex {
  width: 100vw;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  // align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}

// .aside-container {
// }

.aside-card-flex {
  // width: calc(calc(100% - 7.5rem) * 0.13);
  // flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;

  a {
    display: block;
    // background-color: var(--light-primary-color);
    // border-radius: 5px;
    padding: 0.5rem;
    width: 10rem;
    font-size: 1.4rem;

    &:hover,
    &:focus {
      border-bottom: 2px solid var(--green);
    }
  }
}

.section-card-flex {
  // flex: 2;
  width: calc(calc(100% - 7.5rem) * 0.87);
  // padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  // align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

@media (max-width: 992px) {
  .flex {
    gap: 1.5rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0.8rem;
  }

  .card-flex {
    justify-content: center;
  }

  .flex {
    flex-direction: column;
  }

  .aside-card-flex {
    flex-direction: row;
    gap: 1rem;

    a {
      display: inline;
      font-size: 1.2rem;
    }
  }

  .section-card-flex {
    width: 100%;
    gap: 1rem;
  }
}
